# Minimal (poids du VSIX)
node_modules/**
scripts/**
package-lock.json
.vscode/**
.github/**
Makefile
MAINTENANCE.md

# Extras utiles
.vscode-test/**
**/*.map
**/tsconfig.json
**/.eslintrc*
.gitignore
*.vsix
