# Keep VSIX small
node_modules/**
scripts/**
package-lock.json
.vscode/**
.github/**
Makefile
MAINTENANCE.md

# Local theme preview samples (not shipped)
samples/**

# Extra exclusions
.vscode-test/**
**/*.map
**/tsconfig.json
**/.eslintrc*
.gitignore
*.vsix
